<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ramen.ico">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>ASMRWorld</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html" style="color: black; background-color: white;">About</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>ASMR World!</h1>
    <h1>About us</h1>
    <p>We are a company focued on providing quality ASMR at a low cost. Our ASMR is very tingly and was founded by our</p>
    <p>CEO Keira Jiang, She loved watching Nikacado Avocado and at one point simped for him to the extent of paying</p>
        <p>for his Cameo. After that phase she founded ASMR World.</p>
    </p>
    <img src="../img/IMG_2106.jpeg" width="400">
    <footer>&copy;ASMRWorld 2024<br><br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></footer>
</body>
</html>