<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ramen.ico">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>ASMRWorld</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="/" style="color: black; background-color: white;">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Welcome to ASMR world!</h1>
    <img src="../img/ramen.ico">
    <h2>Our mission</h2>
    <h3>Our mission is to provide quality ASMR for you that gives you the tingles</h3>
    <img src="../img/keira.jpeg" style="border-radius: 20px;">
    <h1>Intrested?</h3>
    <a href="/services.html">Services</a>
    <footer>&copy;ASMRWorld 2024<br><br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></footer>
</body>
</html>