<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ramen.ico">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>ASMRWorld</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/services.html" style="color: black; background-color: white;">Services</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Quality Content, Quality Price</h1>
    <h2>Choose from a selection of plans</h2>
    
    <div class="plans-container">
        <div class="plan basic-plan">
            <img src="../img/ramen.ico" alt="Basic Plan Icon">
            <h3>ASMRWorld Premium</h3>
            <h3>Basic Plan</h3>
            <h2>$19.99/month</h2>
            <ul>
                <li>Access to all basic content</li>
                <li>Download ASMR onto computer</li>
                <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li>
            </ul>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        </div>

        <div class="plan premium-plan">
            <img src="../img/ramen.ico" alt="Premium Plan Icon">
            <h3>ASMRWorld Premium</h3>
            <h3>Premium Plan</h3>
            <h2>$29.99/month</h2>
            <ul>
                <li>Access to all basic and premium content</li>
                <li>Download ASMR onto computer</li>
                <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li>
                <li>Access to all Nikocado collections</li>
            </ul>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        </div>

        <div class="plan family-plan">
            <img src="../img/ramen.ico" alt="Family Plan Icon">
            <h3>ASMRWorld Premium</h3>
            <h3>Family Plan</h3>
            <h2>$49.99/month</h2>
            <ul>
                <li>Access to all basic and premium content</li>
                <li>Download ASMR onto computer</li>
                <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li>
                <li>Access to all Nikocado collections</li>
                <li>All features for the whole family!</li>
            </ul>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        </div>
    </div>
</body>
</html>
