<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/ramen.ico">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>ASMRWorld</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/services.html" style="color: black; background-color: white;">Services</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Quality Content, Quality Price</h1>
    <h2>Choose from a selection of plans</h2>
    <div class="basic-plan">
        <img src="../img/ramen.ico">
        <h3>AMSRWorld Premium</h3>
        <h3>Basic Plan</h3>
        <h2>$19.99/month</h2>
        <ul>
            <li>Access to all basic content</li><br>
            <li>Download ASMR onto computer</li><br>
            <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li>
        </ul>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        <br>
    </div>

    <div class="premium-plan">
        <img src="../img/ramen.ico">
        <h3>AMSRWorld Premium</h3>
        <h3>Premium plan</h3>
        <h2>$29.99/month</h2>
        <ul>
            <li>Access to all basic and premium content</li><br>
            <li>Download ASMR onto computer</li><br>
            <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li><br>
            <li>Access to all Nikacado collections</li>
        </ul>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        <br>
    </div>

    <div class="family-plan">
        <img src="../img/ramen.ico">
        <h3>AMSRWorld Premium</h3>
        <h3>Family plan</h3>
        <h2>$49.99/month</h2>
        <ul>
            <li>Access to all basic and premium content</li><br>
            <li>Download ASMR onto computer</li><br>
            <li>Watch videos up to 4K Ultra HD at 60fps with no ADS</li><br>
            <li>Access to all Nikacado collections</li><br>
            <li>All features for the whole family!</li>
        </ul>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Purchase</a>
        <br>
    </div>
</body>
</html>