@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/backgroundark.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    background-color: hsla(0, 0%, 100%, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-links li {
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: white;
    text-decoration: none;
    transition: background-color ease 0.5s;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

footer{
    background-color: hsla(0, 0%, 100%, 0.15);
    padding: 10px 20px;
    text-align: center;
    margin-top: 40px;
    width: 97%;
}

.basic-plan {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 300px;
    font-weight: bold;
    position: absolute; /* Change from static to absolute */
    left: 150px;
    top: 250px;
}

.premium-plan{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 300px;
    font-weight: bold;
    position: absolute; /* Change from static to absolute */
    top: 250px;
}

.family-plan{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 300px;
    font-weight: bold;
    position: absolute; /* Change from static to absolute */
    right: 150px;
    top: 250px;
}

#container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}