@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-image: url('../img/backgroundark.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.navbar {
    background-color: hsla(0, 0%, 100%, 0.15);
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.nav-links li {
    margin: 0 25px;
}

a {
    color: white;
    text-decoration: none;
    transition: background-color ease 0.5s;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
}

a:hover {
    color: black;
    background-color: white;
}

.plans-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin-top: 20px;
}

.plan {
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
    font-weight: bold;
    margin: 20px;
    flex: 1;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.1);
}

.plan img {
    width: 50px;
    height: 50px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: hsla(0, 0%, 100%, 0.15);
    padding: 10px 20px;
    text-align: center;
    margin-top: 40px;
    width: 97%;
}
